{%extends 'store/base.html'%}
{%load static%}
{%block main_block%}

<div class="bg-white">
    <header class="bg-pink-500 text-white text-center py-2">
      <h1 class="text-4xl font-bold mt-10 mb-4">About Us</h1>
      <img class="h-[500px] w-full" src="{%static 'image/about-us.jpg'%}" alt="">
    </header>

    <section class=" py-12 px-4">
      <!-- <h2 class="text-2xl font-bold">Mission And Values</h2> -->
       <p class="mt-4 text-gray-700 mx-auto px-8 text-justify">
        Welcome to Cake Studio, a venture of Sarvam Media LLP. We are a online Cakeshop delivering cakes across 43 cities in India. We ensure quality service & delivery through our strong network of Brewberrys cafes across India. We have custom cakes meant to compliment almost any occassion.
       </p>
       
       <p class="mt-4 text-gray-700 mx-auto px-8 text-justify">
        Our website has over 1000 varieties of delicious cakes that you can gift to your loved ones on various occasions that too through our easy online delivery service. We ensure the highest levels of certainty and satisfaction through a deep-set commitment to our customers.
        </p>
        
        <p class="mt-4 text-gray-700 mx-auto px-8 text-justify">
        Whatever be the occasion, cakes can make it super-special. What better way is there to spread happiness than gifting a cake?
        </p>
        
        <p class="mt-4 text-gray-700 mx-auto px-8 text-justify"> 
        While gifting cake is a great idea, it can go wrong if you’ve not chosen your confectioner with care. This is where Cake Studio excels, through our prompt online delivery, we promise a freshly-baked cake guarantees taste and total satisfaction.</p>
        
        <p class="mt-4 text-gray-700 mx-auto px-8 text-justify">
         We home deliver cakes and even go an extra mile to deliver them just when you want. You can order for an online delivery of cake and we’ll have it delivered right at the mid-night as well.</p>
        
        <p class="mt-4 text-gray-700 mx-auto px-8 text-justify">
        And, here’s a promise- if you love cakes, you’ll love us!
        </p>

  
    </section>



 

    <!-- <section class="bg-gray-100 py-12 px-4">
      <h2 class="text-2xl font-bold text-center">State-Of-The-Art Technology</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 mt-8 max-w-5xl mx-auto">
        <div class="p-4 shadow-lg rounded-lg bg-white hover:shadow-xl transition-shadow">
          <h3 class="text-xl font-bold">Advanced Diagnostics</h3>
          <p class="text-gray-700 mt-2">We utilize the latest technology for accurate diagnostics.</p>
        </div>
        <div class="p-4 shadow-lg rounded-lg bg-white hover:shadow-xl transition-shadow">
          <h3 class="text-xl font-bold">Telemedicine</h3>
          <p class="text-gray-700 mt-2">Consult with our specialists from the comfort of your home.</p>
        </div>
        <div class="p-4 shadow-lg rounded-lg bg-white hover:shadow-xl transition-shadow">
          <h3 class="text-xl font-bold">Robotic Surgery</h3>
          <p class="text-gray-700 mt-2">Minimally invasive procedures with precision.</p>
        </div>
        <div class="p-4 shadow-lg rounded-lg bg-white hover:shadow-xl transition-shadow">
          <h3 class="text-xl font-bold">Electronic Health Records</h3>
          <p class="text-gray-700 mt-2">Secure and easy access to your medical records.</p>
        </div>
      </div>
    </section> -->

    <section class="text-center py-12 px-4">
      <h2 class="text-2xl font-bold">#CelebrateWithCakeStudio</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8 mt-8">
        <div class="p-4 shadow-lg rounded-lg bg-pink-100 hover:bg-pink-200 transition-colors">
            <img class="h-[200px] w-full" src="{%static 'image/celebrate.jpg'%}" alt="">
        </div>
        <div class="p-4 shadow-lg rounded-lg bg-pink-100 hover:bg-pink-200 transition-colors">
            <img class="h-[200px] w-full" src="{%static 'image/about1.png'%}" alt="">
        </div>
        <div class="p-4 shadow-lg rounded-lg bg-pink-100 hover:bg-pink-200 transition-colors">
            <img class="h-[200px] w-full" src="{%static 'image/about2.jpg'%}" alt="">
        </div>
        <div class="p-4 shadow-lg rounded-lg bg-pink-100 hover:bg-pink-200 transition-colors">
            <img class="h-[200px] w-full" src="{%static 'image/about3.png'%}" alt="">
        </div>
      </div>
    </section>

 

 

   
  </div>

{%endblock%}