{%extends 'store/base.html'%}

{%block main_block%}

<div class="bg-white">
    <header class="bg-pink-700 text-white text-center py-5">
      <h1 class="text-4xl font-bold mt-16">Contact Us</h1>
    </header>
    <section class="text-center py-12 px-4">
      <h2 class="text-2xl font-bold">Get In Touch</h2>
      <p class="mt-4 text-gray-700 max-w-2xl mx-auto">It is very important to us to keep in touch with you, so we are always ready to answer any question that interests you. Shoot!</p>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-8 animate-fadeIn">
        <div class="p-4 shadow-lg rounded-lg bg-pink-100 hover:bg-pink-200 transition-colors">
          <h3 class="text-xl font-bold">Call Us</h3>
          <p class="text-gray-700 mt-2">+123456789</p>
        </div>
        <div class="p-4 shadow-lg rounded-lg bg-pink-100 hover:bg-pink-200 transition-colors">
          <h3 class="text-xl font-bold">Email Us</h3>
          <p class="text-gray-700 mt-2">contact@cakestudio.com</p>
        </div>
        <div class="p-4 shadow-lg rounded-lg bg-pink-100 hover:bg-pink-200 transition-colors">
          <h3 class="text-xl font-bold">Visit Us</h3>
          <p class="text-gray-700 mt-2">123 Health St, Wellness City</p>
        </div>
      </div>
    </section>
  
 
  </div>

{%endblock%}