{% for a in address %}
    <div class="flex items-center mb-4 mt-6">
        <input id="radio-{{forloop.counter}}" type="radio" value="{{forloop.counter}}" name="default-radio" onclick="showLink({{forloop.counter}})" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
        <label for="radio-{{forloop.counter}}" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
            {{a.house_name}} {{a.place}}, PIN:{{a.pincode}}, Mob:{{a.phone}}
        </label>
    </div>
    <div class="mt-6 link" id="link{{forloop.counter}}" style="display: none;">
        <span class="block w-full rounded-md shadow-sm">
            <a
            href="{%url 'payment'%}"
            target="_blank"
             type="submit"
                class="w-1/2 flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                Deliver Here
            </a>
        </span>
    </div>
{% endfor %}

<script>
function showLink(id) {
    // Hide all links first
    var links = document.querySelectorAll('.link');
    links.forEach(function(link) {
        link.style.display = 'none';
    });
    
    // Show the selected link
    var selectedLink = document.getElementById('link' + id);
    selectedLink.style.display = 'block';
}
</script>
